* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #c89dca;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:  #cd98cb;
    color: #000000;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 30px;
}

a {
    color: #080606;
    text-decoration: none;
}

p {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    align: center;
    padding: 5%;
    
}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Assets/1000_F_480707408_6wk20bvkIv2JvS3prr1UJpLWXCWy4dLq.jpeg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
    width: 20%;
    padding: 10px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content, {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    float: left;
    font-family:sans-serif;
    background-color: #e3eaee;
}

.contactblock {
    padding: 20px;
    clear: both;
    float: right;
    align-items: center;
    height: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:  #c090be;
    color: #000000;
}

.About Me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:  #c69ec4;
    color: #000000;
}

.myportfolio {
    margin-bottom: 50px;
    width: 30%;
    padding: inherit;
    align-items: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    float:left
}


.footer {
    padding: 20px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 10px;
}

@media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }